* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-y: scroll;
}

.emojis {
    color: transparent;
    text-shadow: 0 0 0 #0fffcb;
}


/*  ---> Commons */


.header,
.header-links,
.section-one-content,
.section-two,
.section-two-content,
.parts,
.section-three,
.section-four,
.section-four-wrapper,
.section-five {
    display: flex;
}

.sign-up {
    background-color: #3882f6;
    color: #ffffff;
    margin: 0px;
    border: 0px;
    border-radius: 4px;
    padding: 4px 18px 4px 18px;
    margin-top: 20px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section-one {
    background-color: #1f2937;
}

.section-one-content {
    padding: 40px 125px 40px 125px;
}

/*  --->  Section One Styling */

/* -> Header */
.header {
    justify-content: space-between;
    align-items: center;
    padding: 20px 125px 50px 125px;
    height: 80px;
}

.header-links {
    gap: 10px;
}

.logo-img {
    width: 125px;
    flex-shrink: 0;
}


/* -> Left-Content */
.first-heading {
    font-size: 48px;
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

    color: #f9faf8;
}

.introduction {
    color: #e5e7eb;
    font-size: 18px;

    padding-top: 40px;
}

.left-content {
    padding-right: 80px;
}
/* -> Right Content */
.section-one-img {
    width: 500px;
    border-radius: 4px;
    flex-shrink: 100;
}


/* -> Link Modifications */

ul{
    list-style: none;
}
a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
a:hover {
    color:#e5e7eb; 
    text-decoration:none; 
    cursor:pointer;  
    font-size: 20px;
}  

/* ---> Section-Two */

.section-two {
    flex-wrap: wrap;
    justify-content: center;
}

.section-two-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 36px;
    color: #1f2937;

    margin: 40px;
}

.section-two-content {
    width: 900px;
    height: 320px;
}
.rounded-img {
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 8px;
}
.para {
    padding: 50px;
    padding-top: 10px;
    font-size: 18px;
    color: #35373b;
    text-align: center;
    transition: 0.3s;
}
.para:hover {
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
}

.parts {
    flex-wrap: wrap;
    justify-content: center;
}

/* Section-three */

.section-three {
    background-color: #e5e7eb;
    padding: 75px;

    flex-wrap: wrap;
}

.quote {

    font-family: "Roboto", system-ui;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
}

.quote-sayer {
    margin-left: auto;
    font-weight: 700;
}

/* ---> Section Four */

.section-four {
    justify-content: center;
    align-items: center;


    height: 400px;
}

.section-four-wrapper {
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
    height: auto;
    background-color: #3882f6;
    border-radius: 12px;

}

.section-four-heading {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}
.section-four-statement {
    color: #e5e7eb;
    font-size: 14px;

}

.sign-up#call-for-action {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    transition: 0.3s;
}

.sign-up#call-for-action:hover {
    border-radius: 30px;
}

/* section-five */

.section-five {
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 100px;
}

.copy {
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 400;
}

/* button animations */

button {
    transition: 0.4s;
}

button:hover {
    border-radius: 30px;
}
